<div class="formBackground urlMsg">
    <div class="container">
        <div class="row">
            <div class="formMain">
                <div class="box">
                <!-- <button *ngIf='accessLimit != 0 && (acccessCount == accessLimit)' (click)='geUrl()'>http://192.168.1.143:4200/{{link}}</button> -->
                <!-- <div *ngIf='accessLimit != 0 && (acccessCount != accessLimit)'> -->
                    <!-- <button (click)='geUrl()'>Get Message</button> -->
                   <label>YOUR MESSAGE</label> <span class="textMsg">{{message}}</span>
                    <!-- You Left Only {{accessLimit}} Attempts -->
                
                <!-- </div> -->
                <div *ngIf='accessLimit == 0'>
                    Sorry Message get destroyed
                    </div>
                </div>
                </div>
                </div>
                </div>
                </div>