<div class="formBackground urlMsg">
    <div class="container">
        <div class="row">
            <div class="formMain">
            ﻿<button (click)='geUrl()' class="linkMsg">http://192.168.1.143:4200/{{link}}</button>
            <button (click)='openURL()' class="urlbtn">Share URL</button>
            <div *ngIf='showOptions'>
                <form class="formLeft">
                    <input type="text" class="form-control" name="user_name" [(ngModel)]="user_name" placeholder="Your name"  /> <br />
                        <input type="text" class="form-control" name="email" [(ngModel)]="email"  placeholder="Email" /> <br />
                        
                        <button (click)='shareURL()' class="sendBtn">Send</button>
                        <!-- <input type="submit" value="submit" [disabled]="f.invalid" /> -->
                </form>
</div>
</div>
</div>
</div>